@import "tailwindcss";
@import "@nuxt/ui-pro";
@source "../../../content/";

@theme static {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

:root {
  --ui-container: var(--container-6xl);
  --ui-header-height: --spacing(16);
}

@layer utilities {
  .bg-primary-gradient {
    background: linear-gradient(
      225deg,
      rgba(152, 158, 203, 1.000) 0.000%,
      rgba(140, 164, 198, 1.000) 16.667%,
      rgba(146, 169, 190, 1.000) 33.333%,
      rgba(167, 172, 180, 1.000) 50.000%,
      rgba(196, 175, 168, 1.000) 66.667%,
      rgba(223, 175, 157, 1.000) 83.333%,
      rgba(238, 174, 147, 1.000) 100.000%
    );
  }
}
