@import "tailwindcss";
@import "@nuxt/ui-pro";
@source "../../../content/";

@theme static {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

:root {
  --ui-container: var(--container-6xl);
  --ui-header-height: --spacing(16);
}
